#calendar-card-container{
    background: #FFFFFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-width: 0.7px;
    border-color: #DBDBDB;
    border-style: solid;
    border-radius: 5px;
}

#calendar-card-label-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#calendar-card-label-background{

    background: #FFF1D6;
    padding: 8px 20px;
    border-radius: 12px;
    font-family: 'Ruberoid Bold';
    font-size: 12px;
    color: #EA9236;
}

#calendar-card-text-info-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
}

#calendar-card-text-info-header{
    font-family: "Ruberoid Bold";
    font-size: 16px;
}

#calendar-card-text-info-text{
    font-family: "Ruberoid Regular";
    font-size: 12px;
    color: #969595;
}

#calendar-card-points-list{
    background: #FDFDFD;
    border-width: 0.7px;
    border-color: #E1E1E1;
    border-style: solid;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    align-self: start;
    border-radius: 5px;
    gap: 8px;

}

#calendar-card-points-list-counter{
    font-family: "Ruberoid Bold";
    font-size: 12px;
    color:#969595;
}

#calendar-card-delimiter{
    height: 1px;
    width: 100%;
    background: #E1E1E1;

}

#calendar-card-people{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#calendar-card-people > * {
    margin-left: -13px;
}

#calendar-card-people-item{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FED9D9;
    border-radius: 360px;
    border: #FFFFFF;
    border-width: 1px;
    border-style: solid;
}

#calendar-card-people-item-more{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E1E2FF;
    border-radius: 360px;
    border: #5558FF;
    border-width: 1px;
    border-style: solid;
    font-family: 'Ruberoid Regular';
    font-size: 10px;
    color:#1D20FE ;
    text-align: center;
}

#calendar-card-down-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-self: start;
    padding-left: 13px;

}

#calendar-card-misc-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-family: "Ruberoid Regular";
    font-size: 10px;
    color: #969595;
    margin-right: 13px;
}

#calendar-card-misc-info-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

#calendar-card-misc-info-row-text{
    font-family: "Ruberoid Regular";
    font-size: 10px;
    color: #969595;
}











