#project-card-container{
    padding: 15px 20px;
    border-width: 0.7px;
    border-color: #DBDBDB;
    border-style: solid;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 20%;

}

#project-card-icon-container{
    background-color: #D9EDFE;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#project-card-icon-row-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#project-card-text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#project-card-text-header{
    font-family: "Ruberoid Bold";
    font-size: 16px;
}

#project-card-text-descr{
    font-family: "Ruberoid Regular";
    font-size: 12px;
    color:#969595;
}

#project-card-progress-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#project-card-progress-bar{
    background: linear-gradient(270deg, #ECECEC 79.88%, #5558FF 79.89%);
    border-radius: 5px;
    height: 7px;
    width: 60%;
}

#project-card-progress-text{
    font-family: "Ruberoid Regular";
    font-size: 10px;
    color:#969595;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1000;
}

.modal-container {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 200px;
    min-height: 100px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.10);
    z-index: 10;
}



.modal-content-custom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.modal-edit {
    font-family: 'Ruberoid Medium', sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #000000;

    cursor: pointer;
}

.modal-delete {
    font-family: 'Ruberoid Medium', sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #FF0000;
    cursor: pointer;
}
