#top-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-width: 0.7px;
    border-color: #DBDBDB;
    border-style: solid;
    border-top:none;
    border-left:none;
    border-right:none;
    background-color: #FFFFFF;
}

#top-bar-search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #F2F2F2;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
}

#top-bar-search-input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-family: 'Ruberoid Regular';
    font-size: 18px;
    color: #969595;

}

#top-bar-search-input::placeholder {
    color: #969595;
}

#top-bar-profile-container{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

#top-bar-profile-field-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
#top-bar-profile-icon-container{
    width: 35px;
    height: 35px;
    background-color: #FED9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 360px;
}

#top-bar-profile-name{
    font-family: "Ruberoid SemiBold";
    font-size: 12px;
}

