#task-calendars-dashboard-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;

}


#task-calendar-container{
    background: #F3F3F3;
    width: 100%;
    display: flex;
    flex-direction: column;
}


#task-calendar-add-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    border-width: 0.7px;
    border-color: #DBDBDB;
    border-style: solid;
    border-top:none;
    border-left:none;
    border-right: none;
}

#task-calendar-add-bar-label{

    font-family: 'Ruberoid Bold';
    font-size: 28px;

}

#task-calendar-add-bar-add-button{
    background-color: #5558FF;
    border-radius: 5px;
    padding: 18px 15px;
    font-family: 'Ruberoid Bold';
    font-size: 12px;
    color: white;

}




#task-calendar-cards-containeres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px;
    gap:25px;
    overflow-y: auto;
}

#task-calendar-card-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    gap: 20px;
}

#task-calendar-card-column-topbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#task-calendar-card-column-topbar-label-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#task-calendar-card-column-topbar-label-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

#task-calendar-card-column-topbar-label-name-circle{
    width: 7px;
    height: 7px;
    background-color: #E58466;
    border-radius: 360px;
}

#task-calendar-card-column-topbar-label-name-text{
    font-family: 'Ruberoid Bold';
    font-size: 12px;
}

#task-calendar-card-column-topbar-label-name-task-counter{
    padding: 5px 8px;
    background-color: #FFFFFF;
    border-radius: 15px;
    font-family: 'Ruberoid Bold';
    font-size: 10px;
}





#task-calendar-icon-container{
    background-color: #D9EDFE;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#task-calendar-icon-row-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    gap: 20px;
}

#task-calendar-label-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}



#task-calendar-progress-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#task-calendar-progress-bar{
    background: linear-gradient(270deg, #ECECEC 79.88%, #5558FF 79.89%);
    border-radius: 5px;
    height: 7px;
    width: 30%;
}

#task-calendar-progress-text{
    font-family: "Ruberoid Regular";
    font-size: 10px;
    color:#969595;
}

#task-calendar-label-container-header{

    font-family: "Ruberoid Semi Bold";
    font-size: 14px;


}

#task-calendar-button-and-people-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#task-calendar-people{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#task-calendar-people > * {
    margin-left: -13px;
}



#task-calendar-people-item{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FED9D9;
    border-radius: 360px;
    border: #FFFFFF;
    border-width: 1px;
    border-style: solid;
}

#task-calendar-people-item-more{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E1E2FF;
    border-radius: 360px;
    border: #5558FF;
    border-width: 1px;
    border-style: solid;
    font-family: 'Ruberoid Regular';
    font-size: 10px;
    color:#1D20FE ;
    text-align: center;
}

#task-calendar-add-task-button{
    width: 100%;
    background: #FFFFFF;
    border-width: 0.7px;
    border-color: #DBDBDB;
    border-style: solid;
    text-align: center;
    border-radius: 5px;


}
#task-calendar-add-task-button-text{
    color:#5558FF;
    font-family: 'Ruberoid Bold';
    font-size: 12px;
    margin: 18px 15px;
}

#task-calendar-cards-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#task-calendar-weekpicker-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #FFFFFF;
    border-width: 0.7px;
    border-color: #DBDBDB;
    border-style: solid;
    border-top:none;
    border-left:none;
    border-right: none;
}

#task-calendar-cards-month-dropdown-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    border-width: 0.7px;
    border-color: #DBDBDB;
    border-style: solid;
    padding: 10px;
    border-radius: 8px;
}

#task-calendar-cards-month-dropdown-month{
    font-family: 'Ruberoid Medium';
    font-size: 10px;
}

#task-calendar-cards-week-pagination-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#task-calendar-cards-week-pagination-left, #task-calendar-cards-week-pagination-right, #task-calendar-cards-week-pagination-current-week{
    border-width: 0.7px;
    border-color: #DBDBDB;
    border-style: solid;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#task-calendar-cards-week-pagination-current-week{
    font-family: 'Ruberoid Medium';
    font-size: 10px;
}

.custom-calendar-grid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 10px;
    padding: 10px 20px;
    background-color: #f5f5f5;
}

.custom-calendar-grid > #custom-calendar-grid-day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ruberoid Bold";
    font-size: 14px;
    color: #969595;
}




