@font-face {
    font-family: 'Ruberoid Bold';
    src: local('Ruberoid Bold'), url(../assets/fonts/Ruberoid-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Extra Bold';
    src: local('Ruberoid Extra Bold'), url(../assets/fonts/Ruberoid-ExtraBold.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Extra Bold Oblique';
    src: local('Ruberoid Extra Bold Oblique'), url(../assets/fonts/Ruberoid-ExtraBoldOblique.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Extra Light';
    src: local('Ruberoid Extra Light'), url(../assets/fonts/Ruberoid-ExtraLight.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Extra Light Oblique';
    src: local('Ruberoid Extra Light Oblique'), url(../assets/fonts/Ruberoid-ExtraLightOblique.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Light';
    src: local('Ruberoid Light'), url(../assets/fonts/Ruberoid-Light.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Light Oblique';
    src: local('Ruberoid Light Oblique'), url(../assets/fonts/Ruberoid-LightOblique.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Medium';
    src: local('Ruberoid Medium'), url(../assets/fonts/Ruberoid-Medium.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Medium Oblique';
    src: local('Ruberoid Medium Oblique'), url(../assets/fonts/Ruberoid-MediumOblique.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Oblique';
    src: local('Ruberoid Oblique'), url(../assets/fonts/Ruberoid-Oblique.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Regular';
    src: local('Ruberoid Regular'), url(../assets/fonts/Ruberoid-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Semi Bold';
    src: local('Ruberoid Semi Bold'), url(../assets/fonts/Ruberoid-SemiBold.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Semi Bold Oblique';
    src: local('Ruberoid Semi Bold Oblique'), url(../assets/fonts/Ruberoid-SemiBoldOblique.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Thin';
    src: local('Ruberoid Extra Bold Oblique'), url(../assets/fonts/Ruberoid-Thin.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Thin Oblique';
    src: local('Ruberoid Extra Bold Oblique'), url(../assets/fonts/Ruberoid-ThinOblique.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Ultra Light';
    src: local('Ruberoid Extra Bold Oblique'), url(../assets/fonts/Ruberoid-UltraLight.ttf) format('ttf');
}

@font-face {
    font-family: 'Ruberoid Ultra Light Oblique';
    src: local('Ruberoid Extra Bold Oblique'), url(../assets/fonts/Ruberoid-UltraLightOblique.ttf) format('ttf');
}